DescriptionCapSpe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DescriptionCapSpe" targetNamespace="http://tempuri.org/DescriptionCapSpe.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/DescriptionCapSpe.xsd" xmlns:mstns="http://tempuri.org/DescriptionCapSpe.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CAPACITE_SPE">
    <xs:complexType>
      <xs:sequence />
      <xs:attribute name="nom" type="xs:string" />
      <xs:attribute name="description" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>